{
    "extends": "airbnb",
    "plugins": ["react", "react-native"],
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": ["error", "unix"],
        "import/no-extraneous-dependencies": [0],
        "consistent-return": [0],
        "comma-dangle": ["error", "never"],
        "react/prop-types": [1],
        "react/require-default-props": [0],
        "react/forbid-prop-types": [0],
        "no-console": "off",
        "no-extra-semi": "off",
        "jsx-quotes": ["error", "prefer-double"],
        "quotes": ["error", "single"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/button-has-type": [0],
        "react/jsx-filename-extension": [0],
        "import/prefer-default-export": [0],
        "import/no-unresolved": ["error", { "ignore": ["@"] }],
        "max-len": ["error", { "code": 150, "tabWidth": 4 }],
        "react/jsx-curly-spacing": [
            2,
            {
                "when": "always",
                "allowMultiline": false,
                "spacing": {
                    "objectLiterals": "never"
                },
                "children": true
            }
        ],
        "object-curly-spacing": ["error", "always",
            {
                "objectsInObjects": false,
                "arraysInObjects": false
            }
        ],
        "jsx-a11y/click-events-have-key-events": [0],
        "no-return-assign": [0],
        "jsx-a11y/anchor-is-valid": [0],
        "object-curly-newline": ["error", {
            "ObjectExpression": { "multiline": true, "minProperties": 3  },
            "ObjectPattern": { "multiline": true, "minProperties": 3  },
            "ImportDeclaration": { "multiline": true, "minProperties": 3 },
            "ExportDeclaration": { "multiline": true, "minProperties": 3 }
        }],
        "object-property-newline": "error",
        "no-underscore-dangle": [0],
        "implicit-arrow-linebreak": [0],
        "react/no-array-index-key": [0],
        "global-require": [0]
    },
    "globals": {}
}
